// Specific CSS for your home-page
.background-photo {
  background-image: image-url("background_home.png");
  object-fit: scale-down;
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: roboto;
  font-weight: 700;
  color: #002131;
}

.landing-page-banner {
  position: absolute;
  text-align: start;
  margin-left: -120px;
  margin-top: 50px;
}

.landing-page-links {
  display: flex;
  justify-content: center;
}