// Specific CSS for your home-page
.background-photo {
  background-image: image-url("background_home.png");
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: roboto;
  font-weight: 700;
  color: #002131;
}

.landing-page-banner {
  position: absolute;
  text-align: start;
  margin-left: -120px;
  margin-top: 50px;
}

.landing-page-links {
  display: flex;
  justify-content: center;
}

.modal-content {
  padding: 30px;
  background-color: #002131;

  h2 {
    color: #FF2707;
  }

  a {
    color: #FF2707;
  }
}

.landing-page-footer {
  position:relative;
  text-align: end;
  margin-right: -150px;

  a {
    color: #FF2707;
    font-size: small;
  }
}

.footer-box {
  position:absolute;
  top:95%;
}