body {
  background-color: rgba($color: #002131, $alpha: 1.0);
}

.nav-menu {
  position: sticky;
  top:0;
  width:100%;
  height:100vh;
  
  .log-out {
    position: absolute;
    top: 90%;
  }  
  
  .nav-menu-links {
    margin-top: 20px;
  }
}

.home-title {
  color: white;
  border: 1px solid $gray;
  font-size: 19px;
  font-weight: 900;
  padding: 8px 13px;
  margin-bottom: 0;
}

.new-tweet-form {
  padding: 15px 25px;
  color: white;
  border: 1px solid $gray;

  textarea {
    background-color: rgba($color: #002131, $alpha: 1.0);
    border: none;
    border-bottom: 1px solid $gray;
    color: $gray;
    outline: none;
    resize: none;

    &:focus {
      background-color: rgba($color: #002131, $alpha: 1.0);
      border: none;
      border-bottom: 1px solid $gray;
      color: $gray;
      outline: none;
      box-shadow: none;
      resize: none;
    }
  }

}
