.tweet {
  width: 100%;
  height: auto;
  border: 1px solid $gray;
  background-color: #000000;
}

.retweet {
  color: $gray
}

.user-avatar {
  padding: 10px;
}

.tweet-content {
  padding: 10px 3px;
}

.user-info {
  .user-info-username {
    color: white;
    font-weight: 700;
    padding-right: 3px;
  }

  p {
    color: $gray;
    font-weight: 300;
    margin-bottom: 3px;
    padding-right: 7px;
  }
}

.tweet-content-text {
  color: white;
  font-size: 12px;
}

.tweet-actions {
  color: $gray;
  font-size: 12px;
}